<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href={{url_for('static',filename='images/iconlogo.png')}}>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>  
    <link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo5.jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <title>DFT Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>



<body class="container">
    <div class="row g-0">
        <img src="{{url_for('static',filename='images/banner.png')}}" alt="DFT Logo" class="img-fluid">
    </div>



    <div class="container">
        <form action="/search" method="POST" onsubmit="loading()">
            <script>
                function loading(){

                    document.getElementById('results').style.display = "none";

                    document.getElementById('loadingDiv').style.display = "block";
                    
                     
                    console.log('Running');

                    var types=[];
    for(var option of document.getElementById('typeSelection').options){
        if(option.selected){
            types.push(option.value)
        }
    }
    console.log(types)

    var authors=[];
    for(var option of document.getElementById('authorSelection').options){
        if(option.selected){
            authors.push(option.value)
        }
    }
    console.log(authors)


    var sources=[];
    for(var option of document.getElementById('sourceSelection').options){
        if(option.selected){
            sources.push(option.value)
        }
    }
    console.log(sources)



    $.ajax({
        url:'/filter',
        type:'POST',
        data:{
        'types':types,
        'authors':authors,
        'sources':sources
    }
    })
                }                
            </script>
            <div class="searchBar">

                <input id="searchIn" type="text" name="searchQueryInput" placeholder="Search" value="" autocomplete="off"/>
                <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
                </button>
            </div>
        </form>
    </div>

    <div class="row buttonLabels"> 
        <div class="col-2"> </div>
        <div class="col-2">    <h6 class="display-6" > Date:</h6>
        </div>
        <div class="col-2">    <h6 class="display-6" >Types:</h6>
        </div>
        <div class="col-2">    <h6 class="display-6">Sources:</h6>
        </div>
        <div class="col-2">    <h6 class="display-6" >Authors:</h6>
        </div>
        <div class="col-2"> </div>
    </div>



    <div class="row buttonLabels"> 
    
            <div class="col-2"> </div>

            <div class="col-2">
                <form action="/changeDate" method="POST">
                <input type="text" name="daterange" value="01/01/1900 - 01/01/2100" />
                <script>
                    $(function() {
                        $('input[name="daterange"]').daterangepicker({
                          opens: 'left'
                        }, function(start, end, label) {
                            $.ajax({
                                url:'/date',
                                type:'POST',
                                data:{
                                'start':start.format('YYYY-MM-DD'),
                                'end':end.format('YYYY-MM-DD')}
                            })
                          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                        });
                      });
                </script>
            </form>
            </div>

            <div class="col-2">
                <form action="/changeFilters" method="POST">
                <select name="typeSelect" id = "typeSelection" class="selectpicker custom" multiple data-live-search="true">

                    {%for type in types%}

                        <option> {{type}} </option>


                    {% endfor %}
                </select>
                </form>
            </div>

            <div class="col-2">
                    
                <form action="/changeFilters" method="POST">

                    <select id="authorSelection" class="selectpicker custom" multiple data-live-search="true">
                        {%for author in authors%}

                            <option> {{author}} </option>

                        {% endfor %}
                      </select>
                    </form>
                
            </div>

            <div class="col-2" >
                <form action="/changeFilters" method="POST">

                    <select id="sourceSelection"  class="selectpicker custom" multiple data-live-search="true">

                        {%for source in sources%}

                            <option> {{source}} </option>

                        {% endfor %}
                      </select>
                    </form>
            </div>
            

            <div class="col-2"> </div>
        </form>

    </div>

    <div id="results">

    <div class="row summary">

            <h2 class="display-2 subHeading">Document Findings</h2>


            <p class="lead">
                {{summary}}


            </p>
    </div>   


    <div class="row row-no-bottom-margin">

        {%for i in range(0,3)%}
        <div class="col-4">
            <a href="{{hyperlinks[i]}}">
            <h5 class="articleHeading rounded text-truncate"> {{headings[i]}}</h5>
            </a>

        </div>
        {% endfor %}

    </div>


    <div class="row row-no-top-margin">

        {%for i in range(0,3)%}
        <div class="col-4">

            <h6 class="articlePreview rounded"> {{previewText[i]}}
            </h6>

        </div>
        {%endfor%}
       
    </div>

    <div class="row summary"> 
        <h2 class="display-2 subHeading">Web Findings</h2>
        <p class="lead">
            {{webSum}}


        </p>
    </div>

    <div class="row"> 
        {%for i in range(0,3)%}
            <div class="col-4">

                <a href="{{webLinks[i]}}">
                <h5 class="articleHeading rounded text-truncate"> {{webFindings[i]}}</h5>
                </a>

            </div>
        {% endfor %}
    </div>

    <div class="row row-no-top-margin">

        {%for i in range(0,3)%}
        <div class="col-4">

            <h6 class="articlePreview rounded"> {{webConts[i]}}
            </h6>

        </div>
        {%endfor%}
       
    </div>
    </div>


    <div id="loadingDiv"  style="display:none;"> 
        <img src="{{url_for('static',filename='images/loading.gif')}}" style="
        width: 100%;">
    </div>







</div>
</body>
</html>